body {
  font: 15px arial, sans-serif;
  background-color: #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}

#bodybox {
  margin: auto;
  max-width: 800px;
  height: 600px;
  font: 15px arial, sans-serif;
  background-color: #b1f6de;
  border-style: solid;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}


#feedback{
  margin: auto; 
  max-width: 700px;
  height: 110px;
  background-color: #f6f9f6;
  border-style:solid;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
  border-width: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}


#chatborder {
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
  height: 525px;
}


p #you {
 

   height : 10px;
   display: inline;
   float: left;
   font-weight: bold;
  
}
p #bot{
  height : 10px;
  padding-left:300px;
  display: inline;
  float: right;
  font-weight: bold;
}


#chatbox {
  font: 17px arial, sans-serif;
  height: 30px;
  width: 100%;
  margin-top: 220px;
   border-radius: 10px;
   border: 2px solid grey;
}


h1 {
  margin: auto;
}
