<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <title>TieBot</title>
<style>
#buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
    margin-left: -12px;
    margin-right: 8px;
}
</style>
<script src="static/home.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
function showField(){
document.getElementById("feedback_input").value='';
document.getElementById("happy").style.display = "none";
var x = document.getElementById("provideFeedback");
x.style.display = "block";
}

function happy(){
document.getElementById("provideFeedback").style.display = "none";
var x = document.getElementById("happy");
x.style.display = "block";
}
</script>

<script>
  function startDictation() {

    if (window.hasOwnProperty('webkitSpeechRecognition')) {

      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;

      recognition.lang = "en-US";
      recognition.start();
      recognition.onresult = function(e) {

        document.getElementById('chatbox').value
                                 = e.results[0][0].transcript;
	var e= $.Event("keypress", {which:13});
	$("#chatbox").trigger(e);
        recognition.stop();
        
     
      };

      recognition.onerror = function(e) {
        recognition.stop();
      }

    }
  }
</script>

<link rel="stylesheet" type="text/css"href="static/home.css">
</head>
<body>
<p style="display:none" id="progress">Listening.........</p>
<img src="/static/images/LandisGyr.jpg"  style="float:right" height="60" width="80">

<div id='bodybox'>
<div id="chatborder"> 
<div id="chatlog"></div>
</div>
<input style="align: center;background-color: white" type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()"></input>
<img id="speak" style="cursor:pointer;float:right;box-shadow: 5px 5px 5px grey;border-radius: 10px;margin-left: 5px" onclick="startDictation()"  src="/static/images/mic.png"  height="30" width="30">
</div>


<br>
<div id="feedback">
Was this helpful?
<button onclick="happy()" style="box-shadow: 3px 3px 3px grey;border-radius: 10px;border: 2px solid black;background-color: #90d55d">Yes</button>
<button onclick="showField()" style="box-shadow: 3px 3px 3px grey;border-radius: 10px;border: 2px solid black;background-color: #90d55d">No</button><br><br>
<div style= "display:none" id="provideFeedback">

Please provide your feedback:-<br>
<input  id="feedback_input" type="text"></input>
<br>
<button onclick="send_feedback()" style="box-shadow: 3px 3px 3px grey;border-radius: 10px;border: 1px solid grey;background-color: #90d55d">Submit</button>
</div>

<div style= "display:none" id="happy">
<p>Great! Thank you! </p>
</div>
</div>



 </body>
 </html>
