<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <title>TieBot</title>
<script src="static/home.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"href="static/home.css">

</head>
<body>


<div id='bodybox'> <img src="/static/images/LandisGyr.jpg"  style="float:right" height="60" width="80">
  <div id='chatborder'>
    <p id="chatlog7"  class="chatlog">&nbsp;&nbsp;</p>
    <p id="chatlog6"  class="chatlog">&nbsp;&nbsp;</p>
    <p id="chatlog5"  class="chatlog">&nbsp;&nbsp;</p>
    <p id="chatlog4"  class="chatlog">&nbsp;&nbsp;</p>
    <p id="chatlog3"  class="chatlog">&nbsp;&nbsp;</p>
    <p id="chatlog2"  class="chatlog">&nbsp;&nbsp;</p>
    <p id="chatlog1"  class="chatlog">&nbsp;&nbsp;</p>

   <input style="background-color: #b1f6de" type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()">
   <img src="mic2.jpeg"  style="float:right" height="30" width="30"></input>

  </div>
  <br>
  <br>
 </div>
<br>
<div id="feedback">
Was this helpful?
<button style="box-shadow: 3px 3px 3px grey;border-radius: 10px;border: 2px solid black;background-color: #b1f6de">Yes</button>
<button style="box-shadow: 3px 3px 3px grey;border-radius: 10px;border: 2px solid black;background-color: #b1f6de">No</button><br><br>
Please provide your feedback:-<br>
<input type="textedit" style="width:600px;margin-left:50px;background-color: #b1f6de;  border-radius: 10px;border: 2px solid grey;"></input>
</div>



 </body>
 </html>
